header.signup-title > h1 {
    font-family: var(--font-auth); 
    color: rgba(241, 238, 238, 0.933);
    text-align: center;
}


.phase {
    display: flex;
    justify-content: space-between;
}

.phase.one {
    /* margin-right: 1em; */
    margin-bottom: 1em;
} 


.inner-container {
    background-color: var(--form-auth-color);
}

.after-signup {
    font-family: var(--font-auth);
    color: #eeee;
    height: 200px;
}

.container-signup {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    width: 210px;
}

.redirect-auth {
    background-color:  rgb(58, 57, 117);
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3em;
    border-radius: 1em;
}


.after-signup a {
    text-decoration: none;
    color: #eeee;
    padding: .6em;
    display: flex;
    font-family: var(--font-auth);
    font-size: 1.3em;
    font-weight: bold;
}